:root {
    --box-height: 30vh;
}
.daySelector {
    background-color: #466b6b;
    width: 98%;
    height: 6vh;
    margin: 0.25vh 1%;
}

.boxes {
    width: 90%;
    margin: 0 5%;
    transition: height 0.5s ease;
    height: 0;
    overflow: hidden;
}

.boxes-active {
    width: 90%;
    margin: 0 5%;
    transition: height 0.5s ease;
    /*height: 10vh;*/
    height: var(--box-height);
}

.days {
    float: left;
    font-family: monospace;
    font-size: 3vh;
    font-weight: bold;
    margin: 0 0 0 2%;
    color: white;
    line-height: 6vh;
    width: 30%;
    text-align: left;
}

.arrow {
    float: right;
    height: 100%;
    width: auto;
    transition: all 0.1s ease;
}

.arrow-active {
    float: right;
    height: 100%;
    width: auto;
    transform: rotate(90deg);
    transition: all 0.1s ease;
}

.tabOn {
    background-color: #2f4f4f !important;
}

.tabDiv {
    height: 100%;
    border: darkslategrey solid 0.4vw;
}

.hide {
    display: none;
}

.profile {
    background-color: rgba(79, 129, 129, 0.9);
    width: 80%;
    height: 25vh;
    margin: 5px auto;
}

.name {
    font-family: monospace;
    font-size: 4vh;
    font-weight: bold;
    color: white;
    margin: 0;
    transform: translateY(100%);
}

.photo {
    height: 50%;
    width: auto;
    border-radius: 50%;
    transform: translateY(25%);
}

.tabs {
    position: relative;
    top: 2.5%;
    border-spacing: 0;
    height: 95%;
    width: 100%;
    table-layout: fixed;
}

.tabs thead{
    line-height: 5vh;
}

.tabs thead div {
    background-color: rgba(79, 129, 129, 0.9);
    color: white;
}
.food {
    width: 98%;
    height: 6vh;
    margin: 0.25vh 1%;
}

.food p {
    float: left;
    font-family: monospace;
    font-size: 2vh;
    font-weight: bold;
    margin: 0 0 0 2%;
    line-height: 3vh;
    width: 90%;
    text-align: left;
    white-space:nowrap
}
.food p:last-of-type {
    padding-left: 5%;
    width: 70%;
    color: grey;
}