.tabOn {
    background-color: #2f4f4f !important;
}

.tabDiv {
    height: 100%;
    border: darkslategrey solid 0.4vw;
    padding-bottom: 5px;
}

.hide {
    display: none;
}

.tabs {
    position: relative;
    top: 2.5%;
    border-spacing: 0;
    /*height: 95%;*/
    width: 98%;
    table-layout: fixed;
    margin: 1vw;
}

.tabs thead{
    line-height: 5vh;
}

.tabs thead div {
    background-color: rgba(79, 129, 129, 0.9);
    color: white;
}

#exerciseContainer{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    }

    #goalsContainer{
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
        }

#exerciseCard{

    background-color:#CAE7DF;
    width: 80%;
    left: 12%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;

}

.exerciseButton{
    margin: 50px;
}

#exerciseP{
    font-family: "Helvetica Neue";
    line-height: 150%;
    font-weight: 800;
}
