.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  font-size: 1.5rem;
}

.text {
  text-align: center;
}
.list li {
  text-decoration: none;
  list-style: none;
}
