.App {
    text-align: center;
}

/*start of nav bar styling*/
#bar,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 8vh;
    padding: 0 2vw;
    background: #2f4f4f;
    color: #fff;
    font-size: 1.15rem;
    box-sizing: border-box;
}

#bar {
    margin-bottom: 0.5vh;
}

footer {
    position: fixed;
    bottom: 0;

    min-height: 2vh;
    justify-content: space-around;
    font-size: 0.75rem;
}

#bar li {
    margin: 4px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.active {
    font-size: 150%;
}

.nav-links {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    top: 8vh;
    left: 0;
    height: 92vh;
    width: 50vw;
    font-size: 1.15rem;
    align-items: left;
    list-style: none;
    justify-content: space-around;
    background: rgba(47, 79, 79, 0.85);
    transform: translateX(-100%);
    transition: 0.3s ease-in;
}

.nav-links-active {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    top: 8vh;
    left: 0;
    height: 92vh;
    width: 50vw;
    font-size: 1.15rem;
    align-items: left;
    list-style: none;
    justify-content: space-around;
    background: rgba(47, 79, 79, 0.85);
    transform: translateX(0%);
    transition: 0.3s ease-in;
}

.burger {
    width: 20vw;
    cursor: pointer;
    justify-content: flex-start;
}

.burger div {
    height: 2px;
    width: 30px;
    background: #fff;
    margin: 3px;
    transition: all 0.5s ease-in-out;
}

/*animation of the menu burger*/
.top-active {
    transform: translateY(2.5px) rotate(135deg);
}

.bottom-active {
    transform: translateY(-2.5px) rotate(-135deg);
}

/*end of nav bar styling*/